html{
	height: 100%;
}

body{
	background: -webkit-radial-gradient(#353F49 0, #2C353E 100%);
	height: 100%;
}

.sliders-conteiner{
	margin: 100px auto;
	width: 70%;
	max-width: 1366px;
	position: relative;
}

.slider{
	width: 100%;
}

.slider img{
	width: 100%;
}

.slider-thumb-conteiner{
	width: 15%;
	position: absolute;
	bottom: -25px;
	left: 25px;
}

.slider-thumb-conteiner img{
	max-width: 100%;
}